<div class="container-fluid">
    <h1>Snowboard trips</h1>
    <div class="row">
        {{#each dataset}}
        <div class="card mx-2" style="width: 18rem;">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Resort Name: {{this.resortName}}</li>
            <li class="list-group-item">Date Visited: {{toShortDate this.date}}</li>
            <li class="list-group-item">Time Spent: {{this.timeSpent}} Hours</li>
            <li class="list-group-item">Money Spent: {{this.spendings}}$</li>
            <li class="list-group-item">
                <a class="btn btn-danger mt-2" onclick="confirmDeletion()" href="/trips/delete/{{this._id}}">Delete</a>
                <a class="btn btn-info mt-2" href="/trips/edit/{{this._id}}">Edit</a>
            </li>
        </ul>
        </div>
        {{/each}}
    </div>
    <a class="btn btn-success mt-2" href="/trips/add">Add a trip</a>
</div>
